/* RESET global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* FIM RESET GLOBAL */

body {
  display: flex;
  justify-content: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #fff;
}

#container {
  background-color: aquamarine; 
  width: 1000px;
  height: auto;
}

#header {
  width: 100%;
  height: 300px;
  background-color: #004ADB;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  align-items: center;
  padding: 0 50px;
}

#header img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
}

#title h1 {
  font-size: 50px;
}

#content {
  width: 800px;
  height: 500px;
  margin: 0 100px;
  background-color: bisque;
}